@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.buttons {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 1.5px 2.5px #00000025;
    background-color: #FFFFFF;
    z-index: 50;
}

nav .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 0px 50px;
    height: 100%;
}

nav .navbar .logo img {
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 5px;
    height: auto;
    width: 100px;
}

nav .navbar .nav-buttons {
    line-height: 60px;
    height: 100%;
}

nav .navbar .nav-buttons .buttons {
    display: flex;
}

nav .navbar .nav-buttons .buttons li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    position: relative;
    padding: 0px 14px;
    height: 100%;
}

nav .navbar .nav-buttons .buttons li a {
    text-decoration-line: none;
    white-space: nowrap;
    color: #37A1F7;
    height: 100%;
}

nav .navbar .buttons .sub-menu {
    background-color: #FFFFFF;
    box-shadow: 0px 1.5px 2.5px #00000025;
    position: absolute;
    top: 60px;
    left: 0px;
    line-height: 40px;
    border-radius: 0px 0px 4px 4px;
    display: none;
}

nav .navbar .buttons .sub-menu li {
    border-bottom: 1.5px solid #FFFFFF50;
    padding: 0px 12px;
    left: -20px;
}

nav .navbar .buttons .sub-menu li a {
    font-size: 14px;
}

.sub-menu li:hover .right-arrow {
  transform: rotate(90deg);
}

nav .navbar .buttons .sub-menu li .right-arrow {
    color: #37A1F7;
    line-height: 40px;
    transition: all 0.25s ease;
}

.navbar .nav-buttons .buttons li:hover .fundamentals-sub,
.navbar .nav-buttons .buttons li:hover .shortgame-sub,
.navbar .nav-buttons .buttons li:hover .advanced-sub {
    display: block;
}

nav .navbar .buttons .golf-swing .swing-sub {
    position: absolute;
    top: 0px;
    left: 100%;
    border-radius: 0px 0px 4px 4px;
    display: none;
}

nav .navbar .buttons .golf-swing:hover .swing-sub {
    display: block;
}

nav .navbar .buttons .short-game .short-sub {
    position: absolute;
    top: 0px;
    left: 100%;
    border-radius: 0px 0px 4px 4px;
    display: none;
}

nav .navbar .buttons .short-game:hover .short-sub {
    display: block;
}

nav .navbar .buttons .advanced .advcd-sub {
    position: absolute;
    top: 0px;
    left: 100%;
    border-radius: 0px 0px 4px 4px;
    display: none;
}

nav .navbar .buttons .advanced:hover .advcd-sub {
    display: block;
}

.navbar .bx-menu {
    font-size: 25px;
    padding-left: 0px;
    color: #37A1F7;
}

.nav-buttons .nav-menu .menu,
.nav-buttons .nav-menu .bx-x-circle,
.navbar .bx-menu {
    display: none;
}

nav .navbar .buttons li .nav-arrow {
    color: #37A1F7;
    display: none;
    height: 100%;
    width: 20px;
    padding-left: 0px;
    font-size: 16px;
    text-align: center;
}

@media (max-width: 820px) {
    nav .navbar .nav-buttons {
        display: block;
        position: fixed;
        top: 0px;
        left: 0px;
        line-height: 40px;
        padding: 18px;
        max-width: 250px;
        width: 100%;
        background-color: #FFFFFF;
        transition: all 0.4s ease;
        box-shadow: 0px 1.5px 2.5px #00000030;
    }

    nav .navbar .nav-buttons .buttons {
        display: block;
        margin: 20px 0px 0px 0px;
    }

    .nav-buttons .nav-menu .menu,
    .nav-buttons .nav-menu .bx-x-circle,
    .navbar .bx-menu {
        display: block;
    }

    nav .navbar .nav-buttons .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .nav-buttons .nav-menu .menu{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: #37A1F7;
    }

    .nav-buttons .nav-menu .bx-x-circle {
        font-size: 22px;
        color: #37A1F7;
    }

    .navbar .nav-buttons .buttons .sub-menu {
        position: relative;
        top: 0px;
        left: 0px;
        box-shadow: none;
        display: none;
    }

    .navbar .nav-buttons .buttons .sub-menu li {
        border-bottom: none;
    }

    .navbar .nav-buttons .buttons li .fundamentals-sub,
    .navbar .nav-buttons .buttons li .shortgame-sub,
    .navbar .nav-buttons .buttons li .advanced-sub {
        display: none;
    }

    .navbar .nav-buttons .buttons li:hover .fundamentals-sub,
    .navbar .nav-buttons .buttons li:hover .shortgame-sub,
    .navbar .nav-buttons .buttons li:hover .advanced-sub {
        display: block;
    }

    nav .navbar .nav-buttons .buttons li {
        display: block;
    }

    nav .navbar .buttons li .nav-arrow {
        display: inline-block;
        line-height: 40px;
        transition: all 0.25s ease;
    }

    .navbar .nav-buttons .buttons li:hover .fundamentals-arrow,
    .navbar .nav-buttons .buttons li:hover .short-game-arrow,
    .navbar .nav-buttons .buttons li:hover .advanced-arrow {
        transform: rotate(90deg);
    }

    .navbar .buttons li .sub-menu .swing-sub,
    .navbar .buttons li .sub-menu .short-sub,
    .navbar .buttons li .sub-menu .advcd-sub {
        display: none;
        position: relative;
        left: 0;
      }
      
    .navbar .buttons li .sub-menu .swing-sub li,
    .navbar .buttons li .sub-menu .short-sub li,
    .navbar .buttons li .sub-menu .advcd-sub li {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .title {
        flex-direction: column;
    }

    .grip-title {
        font-size: 30px;
    }

    .quiz-btn-space {
        display: none;
    }

    .quiz-button {
        margin-left: 50px;
    }

    .video-summary {
        flex-direction: column;
    }

    .summary {
        padding-right: 50px;
    }

    .grip-quote {
        padding-right: 50px;
    }

    .types-of-grips {
        flex-direction: column-reverse;
    }

    .types-of-grips-image {
        width: 100% !important;
        height: auto;
    }

    .practice {
        flex-direction: column;
    }

    .grip-practice {
        padding-right: 50px;
    }

    .practice-2img {
        flex-direction: column;
    }

    .practice-image {
        width: 100% !important;
        height: auto;
        padding-left: 0px !important;
        padding-top: 40px;
        padding-bottom: 50px;
        
    }

    .practice-image2 {
        width: 100% !important;
        height: auto;
        padding-right: 0px !important;
    }

    .lessons-container {
        flex-direction: column;
    }

    .posture-img {
        width: 100% !important;
        height: auto;
        margin-left: 0px !important;
    }

    .backswing-heading {
        padding-top: 25px;
        padding-left: 40px;
    }

    .backswing-img {
        width: 100% !important;
        height: auto;
        margin-left: 0px !important;
    }

    .backswing-btn {
        margin-left: 40px;
    }
}

body {
    margin: 0;
    padding: 0;
}

.top-space {
    height: 80px;
    opacity: 0;
}

.title {
    display: flex;
    flex-wrap: wrap;
}

.title-grip {
    flex: 80%;
}

.quiz-btn {
    flex: 20%;
}

.quiz-btn-space {
    height: 30px;
    opacity: 0;
}

.quiz-button {
    background-color: white;
    border: 2px solid #37A1F7;
    cursor: pointer;
    padding: 13px 26px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #37A1F7;
    border-radius: 6px;
}

.quiz-button:hover {
    color: #FFFFFF;
    background-color: #37A1F7;
    transition: all 0.6s ease;
}

.grip-title {
    font-family: "Montserrat", sans-serif;
    color: #000000;
    font-weight: 600;
    text-decoration: underline;
    font-size: 40px;
    padding-left: 50px;
}

.grip-quote {
    font-family: "Poppins", sans-serif;
    color: #37A1F7;
    font-weight: 500;
    padding-left: 50px;
    font-size: 24px;
}

.video-summary {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}

.video-blank1 {
    flex: 5%;
}

.video-blank2 {
    flex: 5%;
}

.grip-video {
    flex: 45%;
}

.grip-summary {
    flex: 45%;
}

.video {
    border: none;
    outline: none;
}

.summary-heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding-left: 50px;
    text-decoration: underline;
}

.summary {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-left: 50px;
}

.types-of-grips {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}

.types-of-grips-text {
    flex: 50%;
}

.types-of-grips-img {
    flex: 50%;
}

.types-of-grips-heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding-left: 50px;
    text-decoration: underline;
}

.types-of-grips-description {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
}

.types-of-grips-image {
    width: 90%;
    height: auto;
}

.practice {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}

.practice-blank1 {
    flex: 5%;
}

.practice-blank2 {
    flex: 5%;
}

.types-of-grips-video {
    flex: 45%;
}

.practice-summary {
    flex: 45%;
}

.types-grips-video {
    border: none;
    outline: none;
}

.practice-heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding-left: 50px;
    text-decoration: underline;
}

.grip-practice {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-left: 50px;
}

.practice-2img {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}

.practice-img {
    flex: 50%;
}

.practice-img2 {
    flex: 50%;
}

.practice-image {
    width: 90%;
    height: auto;
    padding-left: 50px;
}

.practice-image2 {
    width: 90%;
    height: auto;
    padding-right: 50px;
}

.lessons-heading {
    font-family: "Montserrat", sans-serif;
    color: #000000;
    font-weight: 600;
    font-size: 32px;
    padding-top: 50px;
    padding-left: 50px;
}

.lessons-container {
    display: flex;
    padding-bottom: 50px;
}

.posture {
    flex: 50%;
}

.backswing {
    flex: 50%;
}

.posture-heading {
    font-family: "Poppins", sans-serif;
    color: #000000;
    font-weight: 600;
    font-size: 25px;
    margin-left: 50px;
}

.backswing-heading {
    font-family: "Poppins", sans-serif;
    color: #000000;
    font-weight: 600;
    font-size: 25px;
}

.posture-img {
    width: 90%;
    height: auto;
    border-radius: 5px;
    margin-left: 50px;
}

.backswing-img {
    width: 90%;
    height: auto;
    border-radius: 5px;
}

.learning {
    background-color: #FFFFFF;
    border: 2px solid #37A1F7;
    cursor: pointer;
    padding: 12px 24px;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #37A1F7;
    border-radius: 6px;
    margin-top: 20px;
}

.posture-btn {
    margin-left: 50px;
}

.learning:hover {
    background-color: #37A1F7;
    color: #FFFFFF;
    padding: 10px 20px;
    transition: all 0.6s ease;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #2C2D2D;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    display: flex;
 }

 .footer-note {
     font-family: "Montserrat", sans-serif;
     text-align: center;
     line-height: 25px;
 }

 .contact {
    color: inherit;
 }